{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>dashboard</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    {% block head %}

    {% endblock %}
</head>
<body {% block body_attribute %}{% endblock %}></body>
{% block content %}
{% endblock %}
</body>
<script src="{% static 'core/js/jquery.min.js' %}"></script>
<script src="{% static 'core/js/popper.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
{% block afterBody %}

{% endblock %}
</html>